<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
    {% if books: %}
        {% for book in books: %}
    <li><span><a href="{{url_for('delete', book_id=book.id)}}">Delete</a></span>{{book.title}} - {{book.author}} - {{book.rating}}/10.0  <span><a href="{{url_for('edit', book_id= book.id)}}">Edit book</a></span></li>
        {% endfor %}
    {% else: %}
        <p>Your Library is empty</p>
    {% endif %}
<a href="{{url_for('add')}}">Add New Book</a>
</body>
</html>